@import "tailwindcss";



@font-face {
    font-family: gilroy;
    src: url(../fonts/gilroy/Gilroy-Black.ttf);
}

@font-face {
    font-family: gilroy-regular;
    src: url(../fonts/gilroy/Gilroy-Regular.ttf);
}
@font-face {
    font-family: gilroy-semibold;
    src: url(../fonts/gilroy/Gilroy-SemiBold.ttf);
}
@font-face {
    font-family: gilroy-bold;
    src: url(../fonts/gilroy/Gilroy-Bold.ttf);
}
@font-face {
    font-family: gilroy-bold-italic;
    src: url(../fonts/gilroy/Gilroy-BoldItalic.ttf );
}
@font-face {
    font-family: gilroy-Extra-bold;
    src: url(../fonts/gilroy/Gilroy-ExtraBold.ttf);
}
@font-face {
    font-family: gilroy-italic;
    src: url(../fonts/gilroy/Gilroy-Italic.ttf);
}   

@font-face {
    font-family:gilroy-light; 
    src: url(../fonts/gilroy/Gilroy-Light.ttf);
}
@font-face {
    font-family: gilroy-thin;
    src: url(../fonts/gilroy/Gilroy-Thin.ttf);
}
@font-face {
    font-family: gilroy-medium;
    src: url(../fonts/gilroy/Gilroy-Medium.ttf);
}

*{font-family: gilroy-regular;}


.semibold {
    font-family: gilroy-semibold;
}
.bold {
    font-family: gilroy-bold;
}
.black {
    font-family: gilroy;
}       
.regular {
    font-family: gilroy-regular;
}
.light {
    font-family: gilroy-light;
}
.extra-bold {
    font-family: gilroy-Extra-bold;
}
.italic {
    font-family: gilroy-italic;
}
.thin {
    font-family: gilroy-thin;
}
.bold-italic {
    font-family: gilroy-bold-italic;
}
.medium {
    font-family: gilroy-medium;
}

.sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}
.sidebar.open {
    transform: translateX(0);
}
.overlay {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}
.overlay.open {
    opacity: 1;
    visibility: visible;
}
.transition{
    transition: all 0.5s ease-in-out;
}
